
	body {
/*  background-color: #000;*/
  font: 1.1em Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

figure a {
  color: black;
  text-decoration: none;
}

figcaption {
  grid-row: 2;
  grid-column: 1;
  background-color: rgba(255,255,255,.5);
  padding: .2em .5em;
  justify-self: start;
}

.container-fluid {
  column-count: 4;
  column-gap: 10px;
}


.card-header {
  padding: .50rem 1.0rem .30rem !important;
  margin-bottom: 0;
  background-color: black;
  border-bottom: 1px solid rgba(0,0,0,.125);
  color: white;
}


.h5, h5 {
  font-size: 1.15rem;
  margin-bottom: 0 !important;
  color: white;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.0rem;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.7em;
  color: black;
}
#advertise1 h6 {
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 13px;
}
.material-icons{
  font-size: 14px !important;
}

@media screen and (max-width: 480px) {
  .container-fluid {
   column-count: 1;
  }
}

